[buildout]
show-picked-versions = true
eggs =
  willie
  backports.ssl_match_hostname
  pyenchant
  feedparser
  ipython
  lxml
  praw
  pygeoip
  pytz

parts =
  omelette
  py
  scripts

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py
scripts = py

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ${buildout:eggs}
interpreter = py

[versions]
setuptools = 3.5.2
willie = 4.4.1
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1

# willie dependencies
backports.ssl-match-hostname = 3.4.0.2
collective.recipe.omelette = 0.16
feedparser = 5.0.1
ipython = 1.1.0
lxml = 3.3.5
praw = 2.1.16
pyenchant = 1.6.5
pygeoip = 0.3.1
pytz = 2013.9
requests = 2.2.1
six = 1.6.1
update-checker = 0.10
